<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ComplaintMgmt</display-name>
  <servlet>
    <servlet-name>ComplaintController</servlet-name>
    <servlet-class>com.ComplaintMgmt.RegisterComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintController</servlet-name>
    <url-pattern>/complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComplaintCancel</servlet-name>
    <servlet-class>com.ComplaintMgmt.CancelComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintCancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComplaintSearch</servlet-name>
    <servlet-class>com.ComplaintMgmt.SearchComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintSearch</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.homepage.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.homepage.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowDetails</servlet-name>
    <servlet-class>com.ComplaintMgmt.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetails</servlet-name>
    <url-pattern>/expand</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AttendComplaints</servlet-name>
    <servlet-class>com.ComplaintMgmt.AttendComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendComplaints</servlet-name>
    <url-pattern>/attend</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>searchByName</servlet-name>
    <servlet-class>com.ComplaintMgmt.searchByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchByName</servlet-name>
    <url-pattern>/searchByName</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>searchBystatus</servlet-name>
    <servlet-class>com.ComplaintMgmt.searchByStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBystatus</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>forgotPassword</servlet-name>
    <servlet-class>com.ComplaintMgmt.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.ComplaintMgmt.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cancelComplaint</servlet-name>
    <servlet-class>com.ComplaintMgmt.CancelComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelComplaint</servlet-name>
    <url-pattern>/CancelComplaint</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BookDetails</servlet-name>
    <servlet-class>com.ComplaintMgmt.BookingDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetails</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminView</servlet-name>
    <servlet-class>com.ComplaintMgmt.AdminInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminView</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EngineerView</servlet-name>
    <servlet-class>com.ComplaintMgmt.EngineerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EngineerView</servlet-name>
    <url-pattern>/engineerDetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteComplaint</servlet-name>
    <servlet-class>com.ComplaintMgmt.deleteComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComplaint</servlet-name>
    <url-pattern>/deleteComplaint</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AssignLevel</servlet-name>
    <servlet-class>com.ComplaintMgmt.AssignLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignLevel</servlet-name>
    <url-pattern>/assignLevel</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AssignComplaint</servlet-name>
    <servlet-class>com.ComplaintMgmt.AssignComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignComplaint</servlet-name>
    <url-pattern>/assignComplaint</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>CancelBooking</servlet-name>
    <servlet-class>com.ComplaintMgmt.CancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBooking</servlet-name>
    <url-pattern>/cancelBooking</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>